/*MENU*/

html {
  scroll-behavior: smooth;
}


.container-grid {
  width: 80vw;
  max-width: 1400px;
  margin: 0 auto;
}

nav {
  position: sticky;
  margin: 25px auto 0;
  width: 590px;
  height: 50px;
  background: #008958;
  border-radius: 100px;
  font-size: 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
}

nav a {
  font-size: 15px;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  line-height: 50px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
}

nav .animation {
  position: absolute;
  height: 100%;
  /* height: 5px; */
  top: 0;
  /* bottom: 0; */
  z-index: 0;
  background: #00ff99;
  border-radius: 100px;
  transition: all .5s ease 0s;
}

nav a:nth-child(1) {
  width: 100px;
}

nav .start-home,
a:nth-child(1):hover~.animation {
  width: 100px;
  left: 0;
}

nav a:nth-child(2) {
  width: 110px;
}

nav a:nth-child(2):hover~.animation {
  width: 110px;
  left: 100px;
}

nav a:nth-child(3) {
  width: 100px;
}

nav a:nth-child(3):hover~.animation {
  width: 100px;
  left: 210px;
}

nav a:nth-child(4) {
  width: 160px;
}

nav a:nth-child(4):hover~.animation {
  width: 160px;
  left: 310px;
}

nav a:nth-child(5) {
  width: 120px;
}

nav a:nth-child(5):hover~.animation {
  width: 120px;
  left: 470px;
}

/*SCROLL*/


html::-webkit-scrollbar {
  width: 10px;

}

html::-webkit-scrollbar-track {
  background: rgb(179, 177, 177);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68);
  border-radius: 50px;
}

/* striped lines */
html::-webkit-scrollbar {
  width: 20px;
}

html::-webkit-scrollbar-track {
  background-image: repeating-linear-gradient(45deg, red 0, red 1px, transparent 0, transparent 50%);
  background-size: 10px 10px;
}

html::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: inset 1px 1px 5px black;
}

/* animated  */
html::-webkit-scrollbar {
  width: 20px;
}

html::-webkit-scrollbar-track {
  background: linear-gradient(0deg, rgba(0, 255, 163) 0%, rgba(255, 214, 0) 100%);
}

html::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: 0px 0px 0px 100vh black;
}

/*BORDA*/

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-1: #000000;
  --clr-2: #03001d;
  --clr-3: #00412d;
  --clr-4: #006849;
  --clr-5: #FFD600;
}

.container {
  max-width: 1470px;
  margin: auto;
}

.fundo {
  height: 35vh;
  width: 180vh;

  background: var(--clr-1);
  border-radius: 180px;

  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0% 0% 1% 0%;
}

.fundo::before,
.fundo::after {
  content: "";
  position: absolute;
  inset: -0.2rem;
  z-index: -1;
  background: conic-gradient(from var(--gradient-angle),
      var(--clr-3),
      var(--clr-4),
      var(--clr-5),
      var(--clr-4),
      var(--clr-3));
  border-radius: inherit;
  animation: rotation 5s linear infinite;
}

.para {
  width: 75%;
  text-align: left;
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.fundo::after {
  filter: blur(3.5rem);
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }

  100% {
    --gradient-angle: 360deg;
  }

}

.secao-logotipo {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

body {
  background: var(--clr-2);
  min-height: 50vh;
  display: grid;
  place-content: center;
  font-family: "Exo 2";
  background: #201d2d;
}

.sobre-a-empresa {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}


.foto-empresa img {
  display: flex;
  justify-content: center;
  margin: 10% 0% 0% 0%;
  width: 88%;
  border: 9px solid #FFD600;
  border-radius: 72px;
}
.foto-empresa {
  display: flex;
  justify-content: center;
}

.texto-introducao {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.texto-introducao p {
  color: #FFD600
}








/*FOOTER*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #005034;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;

}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffea00;
  text-decoration: none;
  font-weight: 300;
  color: #fad900;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/*CASE*/


 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: "flipahaus";
 }

 body {
   background-color: rgb(4, 6, 19);
   padding: 0px 50px;
 }

 .container1 {
   padding: 50px 0px;
   height: 100vh;
   display: flex;
   gap: 50px;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
 }

 .parent {
   height: 400px;
   width: 300px;
   padding: 20px;
   perspective: 1000px;
 }

 .card {
  padding-top: 125px;
  transform-style: preserve-3d;
  background-image: url(https://images.pexels.com/photos/1629236/pexels-photo-1629236.jpeg?auto=compress&cs=tinysrgbb&w=1260&h=750&dpr=1);
  background-position: center center;
  width: 125%;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
 }

 .card:hover {
   background-position: 80% 20%;
   transform: rotate3d(1, 1, 0, 30deg);
 }

 .content-box {
   height: 100%;
   width: 100%;
   background-color: rgba(22, 22, 22, 0.811);
   border-radius: 0px 0px 10px 10px;
   box-shadow: rgba(255, 255, 255) 0px 20px 50px -25px;
   transition: all 0.5s ease-in-out;
   padding: 50px 25px 25px 25px;
   transform-style: preserve-3d;
 }

 .content-box2 {
   height: 100%;
   width: 100%;
   background-color: rgba(0, 9, 40, 0.811);
   border-radius: 0px 0px 10px 10px;
   box-shadow: rgb(25, 57, 197) 0px 20px 50px -25px;
   transition: all 0.5s ease-in-out;
   padding: 50px 25px 25px 25px;
   transform-style: preserve-3d;
 }

 .content-box3 {
   height: 100%;
   width: 100%;
   background-color: rgb(40, 0, 0, 0.811);
   border-radius: 0px 0px 10px 10px;
   box-shadow: rgba(255, 0, 0) 0px 20px 50px -25px;
   transition: all 0.5s ease-in-out;
   padding: 50px 25px 25px 25px;
   transform-style: preserve-3d;
 }

 .card-title {
   color: white;
   font-size: 25px;
   font-weight: 900;
   transition: all 0.5s ease-in-out;
   transform: translate3d(0px, 0px, 20px);
 }

 .card-title:hover {
   transform: translate3d(0px, 0px, 50px)
 }

 .card-content {
   padding-top: 15px;
   font-size: 24px;
   color: rgb(185, 185, 185);
   transition: all 0.5s ease-in-out;
   transform: translate3d(0px, 0px, 20px);
 }

 .card-content:hover {
   transform: translate3d(0px, 0px, 50px)
 }

 .see-more {
   display: block;
   font-weight: 900;
   font-size: 11px;
   text-transform: uppercase;
   color: #FFD600;
   padding-top: 15px;
   transition: all 0.5s ease-in-out;
   transform: translate3d(0px, 0px, 20px);
 }

 .see-more:hover {
   transform: translate3d(0px, 0px, 50px)
 }

 .date-box {
  position: absolute;
  top: 90px;
  left: 180px;
  height: 80px;
  width: 80px;
  border-radius: 50px;
  padding: 0px;
  box-shadow: rgb(134, 134, 134) 0px 20px 60px 0px, rgb(255, 215, 0) 0px 18px 36px -18px;
  transform: translate3d(0px, 0px, 50px);
  display: flex;
  align-content: flex-end;
 }

 .date-box img {
   width: 250%;
 }

 .date-box2 {
  position: absolute;
  top: 90px;
  left: 180px;
  height: 80px;
  width: 80px;
  border-radius: 50px;
  padding: 0px;
   box-shadow: rgb(30, 60, 255) 0px 20px 60px 0px, rgb(255, 215, 0) 0px 18px 36px -18px;
   transform: translate3d(0px, 0px, 50px);
   display: flex;
   justify-content: center;
 }

 .date-box2 img {
   width: 250%;
 }

 .date-box3 {
  position: absolute;
  top: 90px;
  left: 180px;
  height: 80px;
  width: 80px;
  border-radius: 50px;
  padding: 0px;
   box-shadow: rgb(255, 30, 30) 0px 20px 60px 0px, rgb(255, 215, 0) 0px 18px 36px -18px;
   transform: translate3d(0px, 0px, 50px);
   display: flex;
 }

 .date-box3 img {
   width: 250%;
 }

 .date-box .date {
   font-size: 20px;
   font-weight: 900;
   color: rgb(0, 136, 255)
 }

 /* button */
 .btn {
   margin: 100px;
   padding: 40px 40px;
   border: none;
   outline: none;
   color: #FFF;
   cursor: pointer;
   position: relative;
   z-index: 0;
   border-radius: 12px;
 }

 .btn::after {
   content: "";
   z-index: -1;
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: #404040;
   left: 0;
   top: 0;
   border-radius: 10px;
 }

 /* glow */
 .btn::before {
   content: "";
   background: linear-gradient(45deg,
       #0059fd, #4400ff, rgb(0, 163, 105), #00FFA3, #00A369, #4400ff, #0059fd);
   position: absolute;
   top: -2px;
   left: -2px;
   background-size: 600%;
   z-index: -1;
   width: calc(100% + 4px);
   height: calc(100% + 4px);
   filter: blur(8px);
   animation: glowing 20s linear infinite;
   transition: opacity .3s ease-in-out;
   border-radius: 10px;
   opacity: 0;
 }

 @keyframes glowing {
   0% {
     background-position: 0 0;
   }

   50% {
     background-position: 400% 0;
   }

   100% {
     background-position: 0 0;
   }
 }

 /* hover */
 .btn:hover::before {
   opacity: 1;
 }

 .btn:active:after {
   background: transparent;
 }

 .btn:active {
   color: #000;
   font-weight: bold;
 }

 /* css tricks style  */
 html::-webkit-scrollbar {
   width: 20px;

 }

 html::-webkit-scrollbar-track {


   background-color: black;
 }

 html::-webkit-scrollbar-thumb {
   background: #4e4e4e;
   border-radius: 100px;
 }

 /* minimalist design */
 html::-webkit-scrollbar {
   width: 100px;

 }

 html::-webkit-scrollbar-track {
   background: rgb(179, 177, 177);
   border-radius: 10px;
 }

 html::-webkit-scrollbar-thumb {
   background: rgb(136, 136, 136);
   border-radius: 10px;
 }

 html::-webkit-scrollbar-thumb:hover {
   background: rgb(100, 100, 100);
   border-radius: 10px;
 }

 html::-webkit-scrollbar-thumb:active {
   background: rgb(68, 68, 68);
   border-radius: 10px;
 }

 /* striped lines */
 html::-webkit-scrollbar {
   width: 100px;
 }

 html::-webkit-scrollbar-track {
   background-image: repeating-linear-gradient(45deg, red 0, red 1px, transparent 0, transparent 50%);
   background-size: 10px 10px;
 }

 html::-webkit-scrollbar-thumb {
   background: transparent;
   border-radius: 5px;
   border: 2px solid black;
   box-shadow: inset 1px 1px 5px black;
 }

 /* animated  */
 html::-webkit-scrollbar {
   width: 20px;
 }

 html::-webkit-scrollbar-track {
   background: linear-gradient(0deg, rgba(0, 255, 163) 0%, rgba(255, 214, 0) 100%);
 }

 html::-webkit-scrollbar-thumb {
   background: transparent;
   box-shadow: 0px 0px 0px 100vh black;
 }

 /*Contato*/


 .container3{
  min-height: 100vh;
  background: #FFD600;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("img/bg.png") no-repeat center center/cover;
}

.container3 form{
  width: 670px;
  height: 1000px;
  display: flex;
  justify-content: center;
  box-shadow: 20px 20px 50px rgba(62, 62, 62, 0.5);
  border-radius: 15px;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  flex-wrap: wrap;
}

.Logotipo img {
  width: 10%;
}

.container3 form h1{
  color: #ffffff;
  font-weight: 500;
  margin-top: 20px;
  width: 500px;
  text-align: center;
}

.container3 form input{
  width: 290px;
  height: 40px;
  padding-left: 10px;
  outline: none;
  border: none;
  font-size: 15px;
  margin-bottom: 10px;
  background: none;
  border-bottom: 2px solid #ffffff;
}

.container3 form input::placeholder{
  color: #ffffff;
}

.container3 form #lastName,
.container3 form #mobile{
  margin-left: 20px;
}

.container3 form h4{
  color: #fff;
  font-weight: 300;
  width: 600px;
  margin-top: 20px;
}

.container3 form textarea{
  background: none;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-weight: 200;
  font-size: 15px;
  padding: 10px;
  outline: none;
  min-width: 600px;
  max-width: 600px;
  min-height: 80px;
  max-height: 80px;
}

textarea::-webkit-scrollbar{
  width: 1em;
}

textarea::-webkit-scrollbar-thumb{
  background-color: rgba(194,194,194,0.713);
}

.container3 form #btn{
  border: none;
  background: #fff;
  border-radius: 5px;
  margin-top: 50px;
  font-weight: 600;
  font-size: 20px;
  color: #333;
  width: 145px;
  padding: 0;
  margin-right: 11px;
  margin-bottom: 30px;
  transition: 0.3s;
}

.container3 form #btn:hover{
  opacity: 0.7;
}

.btn {
  margin: 0;
  padding: 20px 40px;
  border: none;
  outline: none;
  color: #FFF;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 25px;
}

.btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00A369;
  left: 0;
  top: 0;
  border-radius: 25px;
}

/* glow */
.btn::before {
  content: "";
  background: linear-gradient(45deg, #0059fd, #4400ff, rgb(0, 163, 105), #00FFA3, #00A369, #4400ff, #0059fd);
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: 423%;
  z-index: -1;
  width: calc(100% + 0px);
  height: calc(100% + 0px);
  filter: blur(7px);
  animation: glowing 20s linear infinite;
  transition: opacity .30s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

/* hover */
.btn:hover::before {
  opacity: 1;
}

.btn:active:after {
  background: transparent;
}

.btn:active {
  color: #000;
  font-weight: bold;
}